@import url(http://fonts.googleapis.com/css?family=Buenard:400,700&subset=latin,latin-ext);

body,
html {
	height:100%;
	position: relative;
	width: 100%;
}

body {
	background: linear-gradient(to right, #109E03 0%, #96F06A 100%);
	color: #fff;
	margin: 0;
	padding: 0;
	position: relative;
    font: 300 100.1% 'Buenard';
    height: 100%;
    width: 100%;
}

h1 {
	margin: 20px 0 0 20px;
}

.header {
	position: absolute;
	top: 5%;
	left: 5%;
}

.jobs, nav .months a {
	font-family: 'Buenard', serif;
	font-size: 1.4em;
}

#page {
	position: fixed;
	height: 100%;
    width: 100%;
}

.page {
}

nav {
	display: block;
	margin: 50px auto 0;
	position: relative;	
	z-index: 1;
}
nav:after {
	content: '';
	display: block;
	padding-bottom: 0;
}
.circle-nav {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	height: 100%;
}

nav .months a {
	color: #957027;
	text-decoration: none;
	position: absolute;
	text-align: center;
	transition: color 0.5s;
	transform: translateX(-50%);
	width: 4em;
	z-index: 2;
}

nav .months a:hover,
nav .months a.hovering {
	color: #725D2A;
}

nav .months a.jan {
	top: -2%;
	left: 76%;
}

nav .months a.feb {
	top: 16%;
	left: 94%;
}

nav .months a.mar {
	top: 45%;
	left: 105%;
}

nav .months a.apr {
	top: 72%;
	left: 97%;
}

nav .months a.may {
	top: 92%;
	left: 76%;
}

nav .months a.jun {
	top: 98%;
	left: 50%;
}

nav .months a.jul {
	top: 92%;
	left: 24%;
}

nav .months a.aug {
	top: 73%;
	left: 4%;
}

nav .months a.sep {
	top: 45%;
	left: -7%;
}

nav .months a.oct {
	top: 16%;
	left: 4%;
}

nav .months a.nov {
	top: -2%;
	left: 24%;
}

nav .months a.dec {
	top: -8%;
	left: 50%;
}

#navigation {
	margin: 0 auto;
}

#winter {
	fill: #3BBFF0;
}

#autumn {
	fill: #F0811C;

}

#spring {
	fill: #70B62E;
}

#summer {
	fill: #EEE419;
}

.season:hover {
	opacity: 0.5;
}

.season {
	transition: opacity 1s;
	opacity: 1;
}

.finials.outer path {
	fill: #AAFC7A;
}

.finials.inner path {
	fill: #E4F3F6;
}

.hidden {
	display: none;
}

.months {
	/*display: none;*/
	z-index: 2;
}

.months path {
	fill: #444;
	transition: opacity 1s;
	opacity: 0;
}

.months path:hover,
.months path.hovering {
	opacity: 0.4;
}

.dividers {
	stroke: #000;
	stroke-width: 3;
}

.jobs,
.photos {
	box-shadow: 0 0 2px #725D2A;
	z-index: 3;
	background-color: rgba(255,255,255,0.9);
	padding: 20px;
	top: 10%; left: 10%; bottom: 10%; right: 10%;
	position: absolute;
	height: 80%;
	overflow: hidden;
}
.content {
	height: 100%;
	overflow: scroll;
	position: relative;
}

.photos img {
	width: 100%;
}

.jobs dl {
	margin: 0 0 10px 0;
}

.jobs dt,
.jobs dd,
.jobs ul,
.jobs h2,
.jobs p,
.photos p {
	color: #725D2A;
	margin: 0;
	padding: 0 0 20px 0;
}

.jobs h2 a {
	font-size: 1.8rem;
	opacity: .8;
	cursor: pointer;
}

.jobs .close {
	cursor: pointer;
	height: 1em;
	width: 1em;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
	z-index: 3;
}

.jobs .close:before {
	color: #725D2A;
	position: absolute;
	top: -24%;
	left: 40%;
	content: '+';
	display: inline-block;
	transfrom: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.jobs ul {
	
}

.jobs ul li {
	list-style-type: none;
	margin: 0 0 .5em 1em;
	position: relative;
}

.jobs ul li:before {
	content: '›';
	position: absolute;
	left: -.8em;
	height: 100%;
}

.robin {
	background: url(/img/robins.png) no-repeat;
	position: absolute;
	display: block;
	height: 120px;
	width: 100px;
	z-index: 2;
}

.robin.Jan {
	background-position: 0 0;
	top: -5%;
	left: 60%;
}
.robin.Feb {
	background-position: -202px 0;
	top: 15%;
	left: 82%;
}
.robin.Mar {
	background-position: -404px 0;
	top: 36%;
	left: 89%;
}
.robin.Apr {
	background-position: -495px 0;
	top: 58%;
	left: 81%;
}
.robin.May {
	background-position: -400px 0;
	top: 74%;
	left: 66%;
}
.robin.Jun {
	background-position: -500px 0;
	top: 81%;
	left: 45%;
}
.robin.Jul {
	background-position: -585px 0;
	top: 76%;
	left: 19%;
}
.robin.Aug {
	background-position: -680px 0;
	top: 60%;
	left: 5%;
}
.robin.Sep {
	background-position: -770px 0;
	top: 60%;
	left: 3%;
}
.robin.Oct {
	background-position: -865px 0;
	top: 39%;
	left: 0%;
}
.robin.Nov {
	background-position: -970px 0;
	top: 18%;
	left: 5%;
}
.robin.Dec {
	background-position: -1070px 0;
	top: 3%;
	left: 20%;
}

aside.vcard {
	background-color: rgba(255,255,255,0.9);
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
}

aside.vcard ul {
	margin: 0;
	padding: 0;
}

aside.vcard ul,
aside.vcard ul li {
	list-style-position: outside;
	list-style: none;
}

aside.vcard ul li,
aside.vcard ul li a {
	color: #725D2A;
}

nav {
	max-width: 80%;
	padding-bottom: 80%;
}

@media screen and ( min-width : 480px ){
	nav {
		max-width: 40%;
		padding-bottom: 40%;
	}
}

@media screen and ( max-width : 480px ){
	.jobs,
	.photos {
		z-index: 3;
		background-color: rgba(255,255,255,0.9);
		top: 5px; left: 5px; bottom: 5px; right: 5px;
		padding: 20px;
		position: absolute;
		height: auto;
	}
}